
body {
  padding-top: 65px;
  font-family: 'Roboto Condensed', sans-serif;
}

:focus-visible{
  outline: 1px solid black;
  border-radius: 5px;
}

.form-control:focus-visible, .btn:focus-visible, :focus-visible {
  border-color: #030303;
  box-shadow: inset 0 1px 1px rgb(0, 0, 0), 0 0 8px rgb(116, 115, 115) !important;
}

.navbar {
  background-color:rgb(163, 163, 163);
}

.navbar a, .card-name, .link-add-bookmarks, .btn-outline-ofig  {
  color :rgb(43, 43, 43);
}


.navbar .nav-item.active {
  font-weight: bold;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 253, 216)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: rgb(255, 253, 216);
}

.link-add-bookmarks {

  font-size: 0.8em;
  background-color: rgb(167, 167, 167);
  border-radius: 20px;
  padding: 6px;
  float: right;

}

.btn-outline-ofig {
  border-color: rgb(43, 43, 43);
}

.btn-outline-ofig:hover {
  color: rgb(163, 163, 163);
  background-color: rgb(43, 43, 43);
  border-color: rgb(43, 43, 43);
}

.container-main {
  min-height: calc(100vh - 185px);
  /* pourquoi 185px : 65 de margin-top du body, + 120 de hauteur du footer */
}


.badge {
  color: rgb(240, 240, 240);
  border-radius: 20px;
}

.badge-montagne {
  background-color: rgba(0, 128, 0,  0.705);
 
}


.badge-polué {
  background-color: rgba(255, 0, 0, 0.705);
  
}

.badge-asiatique {
  background-color: rgba(0, 0, 255,  0.705);
  
}

.img-cart-list {
  max-width: 100px;
}

table.table tbody tr td {
  vertical-align: middle;
}

.item-description {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.cart-input {
  max-width: 100px;
}

.card {
  width: 15rem;
  box-shadow: -1px 3px 3px -2px rgba(0,0,0,0.75);
}

.card-text {
  font-weight: 300;
}

.item-subtotal {
  font-weight: bold;
}

.row-total {
  font-size: 1.3em;
  font-weight: bolder;
}


.review-author {
  font-size: 0.8em;
  font-style: italic;
  margin-left: 15px;
}

#carousel-contact{
  width:40%;
  max-height: auto;
}

/* .card-img-top {
  width: 4rem;
} */



 

/* Modal breakpoint is awful in bootstrap */
@media (min-width: 576px) {
  .modal-dialog {
    width: 80%;
    max-width: unset;
  }
}