<div class="container container-main">

  <div class="row">

    <aside class="col-lg-3">

      <h1 class="my-4">Boite d'air</h1>
      <%- %>
      <h2 class="h5">Catégories</h2>
      <div class="list-group">

        <% for (const category of locals?.categories) { %>

          <li class="list-group-item">
            <a class="d-flex justify-content-between align-items-center" href="/category/<%= category.category.toLowerCase() %>">
                <%= category.category %>
              <span class="badge badge-primary badge-pill">
                <%= category.nbfigurines %>
              </span>
            </a>
          </li>
          
        <% } %>
      </div>

    </aside>