<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="une boutique de figurine de Final Fantasy">
    <meta name="author" content="Student o'clock">
  
    <title>Boite d'air - page contact</title>
  
    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"  
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>
  
  
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet"> 
    
    
    <!-- Custom styles for this template -->
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  
  </head>
  
<body>
    <header class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Boite d'air</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <nav class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bookmarks">Panier</a>
            </li>
  
            <li class="nav-item">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-ofig" type="submit">Search</button>
              </form>
            </li>
          </ul>
        </nav>
      </div>
    </header>


<div class="container">

  <div class="col-md-6 mx-auto">

        <div id="carrouselContact" class="carousel carousel-dark slide" data-bs-ride="carousel">

          <div class="carousel-inner mx-auto " id="carousel-contact">
            <div class="carousel-item active">
              <img src="/images/paris/paris1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/patagonia/patagonia3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/patagonia/patagonia2.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="/images/newyork/newyork3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carrouselContact" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carrouselContact" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

  </div>

  <div class="">
    <h1 class="text-center fs-1 lh-base" >Nous contacter.</h1>
    <p class="text-center fs-2 lh-base">Un renseigement ?</p>
    <p class="text-center fs-2 lh-base">Une question ?</p>
  </div>

  <div class="row align-items-center justify-content-center gap-5 my-3">

        <div class="card col-md-6" style="width: 15rem;">
          <img src="images/Screenshot_2021-11-17_13-49-33 1mailIcon.jpg" class="card-img-top rounded mx-auto d-block" alt="..." style="width: 4rem;">
          <div class="card-body mx mx-auto">
            <h5 class="card-title">E-mail</h5>
            <a href="mailto:contact.mail@mail.com" class="btn btn-primary">contact.mail@mail.com</a>
           
          </div>
        </div>
      

    
        <div class="card col-md-6" style="width: 15rem;">
          <img src="images/Screenshot_2021-11-17_13-50-24 1phoneIcon.jpg" class="card-img-top rounded mx-auto d-block" alt="..." style="width: 4rem;">
          <div class="card-body mx-auto">
            <h5 class="card-title">Telephone</h5>
            <a href="tel:+3306XXXXXX" class="btn btn-primary ">+3306XXXXXX</a>
            
           
          </div>
        </div>
    
       


  </div>

  

</div>

     <footer class="py-5 bg-dark ">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy;2021 - Toutes les images sont sous Copyright de <a href="https://www.fattrol.com/">FATTROL</a> </p>
        </div>
        <!-- /.container -->
      </footer>
    
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.15/bootstrap-native-v4.min.js"></script>
    
    </body>
    
    </html>